@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Libre Baskerville", serif;
}
.main{
    width:100%;
    height: 100vh;
    background-color: #680303;
    color: #ffffff;
}
.main img{
    width: 400px;
    height: 450px;
}
.content{
    text-align: center;
    position:relative;
    top: 80px;
}
.port{
    width: 100%;
    height: 60vh;
    background-color: rgb(228, 57, 10);
}
.port h1{
    text-align: center;
    color: #fefbfb;
}
#block-1{
    position: relative;
    top: 40px;
    width: 30%;
    height: 30vh;
    color: rgb(223, 223, 18);
    background-color: #490342;
}
#block-1 ol{
    color: rgb(12, 236, 68);
    padding-left: 20px;
}
h2{
    text-align: center;
    
}
#block-2{ position: relative;
    left: 500px;
    bottom: 180px;
    width: 30%;
    height: 30vh;
    color: rgb(223, 223, 18);
    background-color: #dd045b;
}
#block-2 ol{
    padding-left: 20px;
    color: #1a0a6b;
}
#block-3{ position: relative;
    left: 1000px;
    bottom: 400px;
    width: 30%;
    height: 30vh;
    color: rgb(223, 223, 18);
    background-color: #0491dd;
}
#block-3 ol{
    padding-left: 20px;
    color: #1a0a6b;
}
.block-4{
    width: 100%;
    height: 60vh;
    background-color: #490342;
}
#goal{
    position: relative;
    text-align: center;
    color: #fefbfb;
}
#goal-2{
    position: relative;
    color: rgb(7, 216, 31);
}
#Photo1{
    width: 20%;
    height: 20vh;
    position: relative;
    left:1000px;
    bottom:120px;
}
#Photo2{
    width: 20%;
    height: 20vh;
    position: relative;
    right: 250px;
    top:30px;
}
#Photo3{
    width: 20%;
    height: 20vh;
    position: relative;
    top:30px;
    right: 100px;
}
.conclusion{
    width: 100%;
    height: 80vh;
    background-color: #4d8fe4;
}
#obr{
    text-align: center;
    color: #fefbfb;
}

#name{
    font-size: 40px;
    color: #fefbfb;
}
#phone{
    font-size: 40px;
    color: #fefbfb;
}
#sms{
    font-size: 40px;
    color: #fefbfb;
}
button{
    position: relative;
    top: 40px;
    width: 200px;
    height: 70px;
}
.uved{
    position: relative;
    left: 500px;
    bottom: 170px;
}
.uved h1{
    position: relative;
    left:110px;
    color: #ed0b0b;
}
.uved p{
    color: #faf9f9;
}